{% extends "AppEntrega/padre.html" %}
{% load static %}

{% block section1 %}
<title>Document</title>
</head>
<body>
    {% for b in blogs %}
        <p>Titulo: {{ b.titulo }}</p>
        <p>SubTitulo: {{ b.subTitulo }}</p>
        <p>Autor: {{ b.autor }}</p>
        <p>Fecha de Publicación: {{ b.fecha }}</p>
        <p>Cuerpo: {{ b.cuerpo }}</p>
        <img src="{% static 'AppEntrega/assets/img'%}" alt="imagen">
     

        <button>
    <a href="{% url 'EliminarBlogs' b.titulo %}"> Eliminar</a>
    <a href="{% url 'EditarBlogs' b.titulo %}"> Editar</a>
</button>
    {% endfor %}
</body>

{% endblock %}