{% extends "AppEntrega/padre.html" %}
{% load static %}

{% block section1 %}

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppEntrega/assets/img/01.jpg'%}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Facundo Urdangarin</h2>
                    <p>criado en mi querido pueblo de Quemu Quemu, La Pampa trabjando siempre en rubros rurales o fabricas, Hace poco mas de dos años decidi hacer un cambio en mi vida dejando todo en mi pueblo para llegar asi a Cordoba,Capital.
                        ejerciendo como hace mucho tiempo el rubro de las aberturas de aluminio y destacando siempre por el compromiso y cumplir en todo aspecto, un dia escuche sobre este tema de la programacion y mas aun de python lo atrapante y desafiante que era, por temas laborales decidi esperar un año para acomodar mis horarios y empezar a especializarme primero con un curso de fundamentos de la programacion para luego meterme en python con un gran instituto del aprendizaje como lo es python.
                        muy admirador de nicolas shurmann tambien un gran referente a destinarme a este nuevo camino en mi vida.... que recien comienza pero con entuciasmo 
                    </p>
                    <p>“Agradecer tanto a mi profesor, como asi a todos los tutores y compañeros que en ultimas instancias fuimos muy unidos para ayudarnos entre si... Gracias CoderHouse.”</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}