{% extends "AppEntrega/padre.html" %}
{% load static %}

{% block section1 %}


        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppEntrega/assets/img/02.jpg'%}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Profesores</h2>
                            <p>seleccionar y construir los objetivos de aprendizaje, investigar sobre los contenidos, buscar analizar, organizar, relacionar, preparar el material, apoyar, exponer y evaluar los resultados.</p>
                            <p>buscamos darte herramientas para tu crecimiento profesional y personal</p>
                            <p>HolaMundo</p>
                            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'LeerProfesores' %}">profesores</a>
                            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'agregarProfesores' %}">agregar profesor</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}